<!--pages/benefitFarmingPolicy/index.wxml-->
<view class='list'>
  <block wx:for='{{policyList}}' wx:key='list' wx:for-item="item">
    <view class="list-item"  bindtap="toDetailPage" data-policyId="{{item._id}}">
      <text class="item-text">{{item.title}}</text>
    </view>
  </block>
</view>